<div class="row">

    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Registro Persona</strong>
        </div>
        <form [formGroup]="frmActualizaPersona">
            <div class="row">

                <div class="form-group col-md-12">
                    <mat-form-field appearance="outline" style="display:inline ;">
                        <mat-label class="colorLabel">Identificación</mat-label>
                        <input matInput placeholder="Ingrese Identificación" formControlName="Identificacion" name="Identificacion"
                               (focusout)="onFocusOutEvent($event)"  
                        >
                    </mat-form-field>
                    <div *ngIf="f.Identificacion.touched && f.Identificacion.invalid" style="color: red; font-size: smaller;">
                        <div *ngIf="f.Identificacion.errors.required">* Campo Requerido.</div>
                        <div *ngIf="f.Identificacion.errors.pattern">* Solo Números.</div>
                        <div *ngIf="f.Identificacion.errors.minlength">* Son 10 digitos numéricos.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field appearance="outline" style="display:inline ;">
                        <mat-label class="colorLabel">Nombres</mat-label>
                        <input matInput placeholder="Ingrese Nombres" formControlName="Nombres" name="Nombres">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field appearance="outline" style="display:inline ;">
                        <mat-label class="colorLabel">Edad</mat-label>
                        <input matInput placeholder="Ingrese Edad" formControlName="Edad" name="Edad">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button mat-button (click) = "ActualizaPersona()">Guardar</button>
                    <button mat-button (click) = "ClosePopup()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>


</div>
